* {
  font-family: "Helvetica";
  font-style: normal;
}

.logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

.navbar-container {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f1f3ff;
}

header {
  background: #f1f3ff;
}

.bg-color {
  width: 1440px;
  height: 500px;
}

.btn {
  background-color: #5cb85f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.hero-sec h1 {
  width: 568px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.hero-sec p {
  width: 468px;
  height: 60px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.hero-sec {
  margin-top: 177px;
}

.group-47 {
  margin-top: 104px;
  text-align: right;
  padding-right: 50px;
}

.desc {
  margin-top: 140px;
  padding-left: 50px;
}

.desc p {
  margin-bottom: 0px;
  height: unset;
  margin-bottom: 10px;
  margin-right: 207px;
}

.desc img {
  margin-right: 18px;
}

.desc h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.why-us h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 100px 0 16px 0;
}

.why-us p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.card-body .card {
  width: 268px;
  height: 196px;
}

.card-body h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.card-body h5 .card-body img {
  margin-bottom: 16px;
}

.card-text {
  width: 220px;
}

.container-n .nav {
  margin-top: 25px;
  margin-left: 136px;
}

header {
  background: #f1f3ff;
}

.bg-color {
  width: 1440px;
  height: 500px;
}

.btn {
  background-color: #5cb85f;
  color: #ffffff;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.our-section h1 {
  width: 568px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.our-section p {
  margin-top: 24px;
  margin-bottom: 18px;
  width: 468px;
  height: 60px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/*hero section*/

.hero-sec {
  margin-top: 177px;
}

.group-47 {
  margin-top: 104px;
  text-align: right;
  padding-right: 50px;
}

.desc {
  margin-top: 140px;
  padding-left: 50px;
}

.desc p {
  margin-bottom: 0px;
  height: unset;
  margin-bottom: 10px;
  margin-right: 207px;
}

.desc img {
  margin-right: 18px;
}

.desc h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.why-us h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 100px 0 16px 0;
}

.why-us p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.card-body .card {
  width: 268px;
  height: 196px;
}

.card-body h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.card-body h5 .card-body img {
  margin-bottom: 16px;
}

.card-text {
  width: 220px;
}

/*carousel*/

.py-5 {
  margin-bottom: 108px;
}

.py-5 p {
  margin-bottom: 40px;
}

.bg-aliceblue {
  background-color: #f1f3ff;
}

.bg-button {
  background-color: #5cb85f !important;
}

.bg-primary-darkblue {
  background-color: #0d28a6;
}

.testimonial-img {
  width: 80px;
  height: 80px;
}

.testimonial-rating {
  max-height: 16px;
}

.testimonial-name {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
  line-height: 0px;
}

.testimonial-media {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 50%;
}

.testimonial-media:hover {
  background-color: #04aa6d;
  color: white;
}

.footer-link {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.footer-social {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.alert-red {
  background-color: #fa2c5a;
}

.alert-yellow {
  background-color: #f9cc00;
}

.alert-green {
  background-color: #73ca5c;
}

/* cta-banner */

.cta-banner {
  background: #0d28a6;
  width: 100%;
  height: 326px;
  margin: 0 auto;
  border-radius: 13px;
  text-align: center;
}

.cta-banner h1 {
  margin: 0 auto;
  padding-top: 64px;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.cta-banner p {
  width: 468px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  padding: 16px 0 52px;
  color: #ffffff;
}

.cta-banner but {
  margin-top: 52px;
  margin-bottom: 64px;
}

/* faq */

.faq {
  margin-top: 100px;
}

.pd-16 {
  margin-bottom: 16px;
  border: none;
}

.accordion-button {
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.accordion-body {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.faq h1 {
  margin-top: 0;
}

/* footer */

footer {
  margin: 150px 0 100px;
}

.alamat .connect .copyright {
  width: 268px;
  font-size: 14px;
  font-weight: 300;
}

.connect p {
  height: 20px;
}

.copyright p {
  height: 20px;
}

.nav-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-container li {
  padding-bottom: 16px;
}

.footer-container img {
  margin-right: 16px;
}
